# TEST .env example

CORS_ADDRS=YOUR_SERVER_ADDR

# db
POSTGRES_HOST=db
POSTGRES_USER=YOUR_USER
POSTGRES_DB=YOUR_DB
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_PORT=5432

# quiz_hub
DEBUG=1

# auth
AUTH_PRIVATE_KEY_FILE=/app/secrets/jwt_private.pem

# frontend
VITE_AUTH_URL_DEV=http://localhost:8081
