# PROD .env example

CORS_ADDRS=YOUR_SERVER_ADDR

# db
POSTGRES_HOST=db
POSTGRES_USER=YOUR_USER
POSTGRES_DB=YOUR_DB
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_PORT=5432

# quiz_hub
DEBUG=0

# auth
AUTH_PRIVATE_KEY_FILE=/app/secrets/jwt_private.pem
AUTH_IS_HTTPS=1

# JWT key
JWT_PUBLIC_KEY_FILE=/app/secrets/jwt_public.pem

# frontend
VITE_AUTH_URL_DEV=http://localhost:8081
VITE_CORE_URL_DEV=http://localhost:8001

# llm-service
OPENROUTER_API_KEY=YOUR_API_KEY
LLM_MODEL=YOUR_MODEL
