# DEV .env example

CORS_ADDRS=http://localhost:5173,http://127.0.0.1:5173

# db
POSTGRES_HOST=db
POSTGRES_USER=YOUR_USER
POSTGRES_DB=YOUR_DB
POSTGRES_PASSWORD=YOUR_PASSWORD
POSTGRES_PORT=5432

# quiz_hub
DEBUG=1
ALGORITHM=RS256

# auth
AUTH_PRIVATE_KEY_FILE=/app/secrets/jwt_private.pem
AUTH_IS_HTTPS=0

# JWT key
JWT_PUBLIC_KEY_FILE=/app/secrets/jwt_public.pem

# frontend
VITE_AUTH_URL_DEV=http://localhost:8081
VITE_CORE_URL_DEV=http://localhost:8001
VITE_QUIZHUB_URL_DEV=http://localhost:8067

# llm-service
LLM_PROVIDER=deepseek
OPENROUTER_API_KEY=sk-or-v1-
DEEPSEEK_API_KEY=...
LLM_MODEL=deepseek-v4-flash
LLM_SERVICE_URL=http://llm-service:7000
