OPENROUTER_API_KEY=
LLM_MODEL=openai/gpt-oss-20b:free
LLM_SERVICE_URL=http://llm-service:7000

#Database section
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=


#QuizHub section
DATABASE_URL=
DATABASE_URL_ALEMBIC=
DEBUG=True #if want to False - pass ""
# PROD .env example

CORS_ADDRS=YOUR_SERVER_IP

# quiz_core
QUIZCORE_POSTGRES_HOST=quizcore-db
QUIZCORE_POSTGRES_USER=YOUR_USER
QUIZCORE_POSTGRES_DB=YOUR_DB
QUIZCORE_POSTGRES_PASSWORD=YOUR_PASSWORD
QUIZCORE_POSTGRES_PORT=5432

# quiz_hub
QUIZHUB_POSTGRES_HOST=quizhub-db
QUIZHUB_POSTGRES_USER=YOUR_USER
QUIZHUB_POSTGRES_DB=YOUR_DB
QUIZHUB_POSTGRES_PASSWORD=YOUR_PASSWORD
QUIZHUB_POSTGRES_PORT=5432
DEBUG=0
