# TEST .env example

CORS_ADDRS=YOUR_SERVER_IP

# quiz_core
QUIZCORE_POSTGRES_HOST=quizcore-db
QUIZCORE_POSTGRES_USER=YOUR_USER
QUIZCORE_POSTGRES_DB=YOUR_DB
QUIZCORE_POSTGRES_PASSWORD=YOUR_PASSWORD
QUIZCORE_POSTGRES_PORT=5432

# quiz_hub
QUIZHUB_POSTGRES_HOST=quizhub-db
QUIZHUB_POSTGRES_USER=YOUR_USER
QUIZHUB_POSTGRES_DB=YOUR_DB
QUIZHUB_POSTGRES_PASSWORD=YOUR_PASSWORD
QUIZHUB_POSTGRES_PORT=5432
DEBUG=1
